section {
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
button {
  margin-left: 10px;
  padding: 2px 4px 2px 4px;
  background-color: white;
}
.button-clicked {
  border: solid #d33d4a 2px;
  color: #d33d4a;
}
.row.no-pad {
  margin-right:0;
  margin-left:0;
}
.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
