<section>
  <div class="row no-gutters">
    <div class="col">
      <div class="text-left">
        <h2 class="text-uppercase text-monospace">
          portfolio
        </h2>
      </div>
    </div>
    <div class="col">
      <div class="text-right">
        <p style="white-space: nowrap;">
          <button [ngClass]="{'button-clicked': allType}" id="all" (click)="onFiltr($event)"
            class="text-uppercase align-middle">all</button>
          <button [ngClass]="{'button-clicked': firstType}" id="first" (click)="onFiltr($event)"
            class="text-uppercase align-middle">filtr nr 1</button>
          <button [ngClass]="{'button-clicked': secondType}" id="second" (click)="onFiltr($event)"
            class="text-uppercase align-middle">filtr nr 2</button>
          <button [ngClass]="{'button-clicked': thirdType}" id="third" (click)="onFiltr($event)"
            class="text-uppercase align-middle">filtr nr 3</button>
        </p>
      </div>
    </div>
  </div>
</section>

<section [hidden]="allType">
  <div class="row no-pad">

    <div class="col-3 border" (mouseover)="changeTextA=true" (mouseout)="changeTextA=false">
      <div style="padding: 4%; ">
        <div style="background-image: url('./assets/1.jpg'); background-size: cover;"
          class="embed-responsive embed-responsive-1by1 text-center">
          <div [hidden]="!changeTextA" style="padding: 20px; opacity: 0.88;" class="embed-responsive-item bg-danger">
            <div class="d-flex align-items-center justify-content-center h-100">
              <div class="d-flex flex-column">
                <h1 class="text-white align-self-center p-2">+</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3 border-top border-bottom" (mouseover)="changeTextB=true" (mouseout)="changeTextB=false">
      <div style="padding: 4%; ">
        <div style="background-image: url('./assets/2.jpg'); background-size: cover;"
          class="embed-responsive embed-responsive-1by1 text-center">
          <div [hidden]="!changeTextB" style="padding: 20px; opacity: 0.88;" class="embed-responsive-item bg-danger">
            <div class="d-flex align-items-center justify-content-center h-100">
              <div class="d-flex flex-column">
                <h1 class="text-white align-self-center p-2">+</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div [hidden]="thirdType" class="col-3 border-top border-bottom border-left" (mouseover)="changeTextC=true"
      (mouseout)="changeTextC=false">
      <div style="padding: 4%; ">
        <div style="background-image: url('./assets/3.jpg'); background-size: cover;"
          class="embed-responsive embed-responsive-1by1 text-center">
          <div [hidden]="!changeTextC" style="padding: 20px; opacity: 0.88;" class="embed-responsive-item bg-danger">
            <div class="d-flex align-items-center justify-content-center h-100">
              <div class="d-flex flex-column">
                <h1 class="text-white align-self-center p-2">+</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3 border" (mouseover)="changeTextD=true" (mouseout)="changeTextD=false">
      <div style="padding: 4%; ">
        <div style="background-image: url('./assets/4.jpg'); background-size: cover;"
          class="embed-responsive embed-responsive-1by1 text-center">
          <div [hidden]="!changeTextD" style="padding: 20px; opacity: 0.88;" class="embed-responsive-item bg-danger">
            <div class="d-flex align-items-center justify-content-center h-100">
              <div class="d-flex flex-column">
                <h1 class="text-white align-self-center p-2">+</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div [hidden]="firstType" class="row no-pad ">

    <div class="col-3 border-left border-bottom border-right" (mouseover)="changeTextE=true"
      (mouseout)="changeTextE=false">
      <div style="padding: 4%; ">
        <div style="background-image: url('./assets/5.jpg'); background-size: cover;"
          class="embed-responsive embed-responsive-1by1 text-center">
          <div [hidden]="!changeTextE" style="padding: 20px; opacity: 0.88;" class="embed-responsive-item bg-danger">
            <div class="d-flex align-items-center justify-content-center h-100">
              <div class="d-flex flex-column">
                <h1 class="text-white align-self-center p-2">+</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3 border-bottom" (mouseover)="changeTextF=true" (mouseout)="changeTextF=false">
      <div style="padding: 4%; ">
        <div style="background-image: url('./assets/6.jpg'); background-size: cover;"
          class="embed-responsive embed-responsive-1by1 text-center">
          <div [hidden]="!changeTextF" style="padding: 20px; opacity: 0.88;" class="embed-responsive-item bg-danger">
            <div class="d-flex align-items-center justify-content-center h-100">
              <div class="d-flex flex-column">
                <h1 class="text-white align-self-center p-2">+</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div [hidden]="secondType" class="col-3 border-bottom border-left" (mouseover)="changeTextG=true"
      (mouseout)="changeTextG=false">
      <div style="padding: 4%; ">
        <div style="background-image: url('./assets/7.jpg'); background-size: cover;"
          class="embed-responsive embed-responsive-1by1 text-center">
          <div [hidden]="!changeTextG" style="padding: 20px; opacity: 0.88;" class="embed-responsive-item bg-danger">
            <div class="d-flex align-items-center justify-content-center h-100">
              <div class="d-flex flex-column">
                <h1 class="text-white align-self-center p-2">+</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3 border-bottom border-right border-left" (mouseover)="changeTextH=true"
      (mouseout)="changeTextH=false">
      <div style="padding: 4%; ">
        <div style="background-image: url('./assets/8.jpg'); background-size: cover;"
          class="embed-responsive embed-responsive-1by1 text-center">
          <div [hidden]="!changeTextH" style="padding: 20px; opacity: 0.88;" class="embed-responsive-item bg-danger">
            <div class="d-flex align-items-center justify-content-center h-100">
              <div class="d-flex flex-column">
                <h1 class="text-white align-self-center p-2">+</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section [hidden]="!allType">
  <div class="d-flex justify-content-center">
    <p><small>no data to display.</small></p>
  </div>
  <hr>
</section>
