* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}
h2 {
  position: relative;
}
h2::before {
  content: '';
  position: absolute;
  bottom: 0; left: 0;
  width: 45px;
  height: 2px;
  background-color: #000000;
}
