<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top ">
  <div class="container">
    <button style="margin-left: 20; font-size: 24px;" class="text-uppercase ">W<span
        style="color:#d33d4a">E</span>BMASTER</button>
    <b></b>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a *ngIf="homeActive" [ngClass]="{'button-clicked': homeActive}" class="nav-link text-danger text-center"
          (click)="onClick($event)" href="#" id=0>HOME<span class="sr-only">(current)</span></a>
        <a *ngIf="!homeActive" [ngClass]="{'button-clicked': homeActive}" class="nav-link text-white text-center"
          (click)="onClick($event)" href="#" id=0>HOME<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a *ngIf="offerActive" [ngClass]="{'button-clicked': offerActive}" class="nav-link text-danger text-center"
          (click)="onClick($event)" href="#offer" id=1>OFERTA</a>
        <a *ngIf="!offerActive" [ngClass]="{'button-clicked': offerActive}" class="nav-link text-white text-center"
          (click)="onClick($event)" href="#offer" id=1>OFERTA</a>
      </li>
      <li class="nav-item">
        <a *ngIf="portfolioActive" [ngClass]="{'button-clicked': portfolioActive}"
          class="nav-link text-danger text-center" (click)="onClick($event)" href="#portfolio" id=2>PORTFOLIO</a>
        <a *ngIf="!portfolioActive" [ngClass]="{'button-clicked': portfolioActive}"
          class="nav-link text-white text-center" (click)="onClick($event)" href="#portfolio" id=2>PORTFOLIO</a>
      </li>
      <li class="nav-item">
        <a *ngIf="contactActive" [ngClass]="{'button-clicked': contactActive}" class="nav-link text-danger text-center"
          (click)="onClick($event)" href="#contact" id=3>KONTAKT</a>
        <a *ngIf="!contactActive" [ngClass]="{'button-clicked': contactActive}" class="nav-link text-white text-center"
          (click)="onClick($event)" href="#contact" id=3>KONTAKT</a>
      </li>
    </ul>

  </div>
</nav>
