nav {
  opacity: 0.91;
  min-height: 100px;;
}
section {
  margin-top: 40px;
}
button {
  margin-left: 10px;
  padding: 2px 4px 2px 4px;
  background-color: rgba(53, 52, 52, 0.932);
  color: #ffffff;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
.button-clicked {
  border: solid #d33d4a 2px;
  color: #ffffff;
  box-sizing: border-box;
  font-weight: bold;
}
