h2 {
  position: relative;
}
h2::before {
  content: '';
  position: absolute;
  bottom: 0; left: 0;
  width: 45px;
  height: 2px;
  background-color: #ffffff;
}
span {
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0.9;
  background-color: rgba(53, 52, 52, 0.932)
}
p {
  padding: 4px;
}
i {
  color: #ffffff;
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
}
section {
  padding-top: 40px;
  background-color: #ff4b4c;
  padding-left: 20px;
  padding-right: 20px;
}
#jambotron {
  background-image: url(https://mdbootstrap.com/img/Photos/Others/city7.jpg); height: 100%; background-position: center; background-size: cover;
}
.row.no-pad {
  margin-right:0;
  margin-left:0;
}
.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
.card-body {
  padding: 0;
}
