<div class="row">
  <div class="col">
    <div id="jambotron">
      <div class="text-white text-center rgba-stylish-strong py-5 px-4">
        <div class="py-5">
          <div style="height: 130px;"> </div>
          <div class="mb-4 pb-2 px-md-5 mx-md-5">
            <h3>
              <span>{{quotesOne}}</span>
            </h3>
            <h3>
              <span>{{quotesTwo}}</span>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section>

  <div id="offer">
    <h2 class="text-uppercase text-white text-monospace">oferta</h2>
  </div>
  <div style="margin-top: 20px;" class="row no-gutters">
    <div class="col-sm">
      <div>
        <div class="card-body">
          <i class="fas fa-coffee"></i>
          <h5 class="card-title text-uppercase text-monospace text-white">kawa</h5>
          <p class="card-text text-white ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint asperiores
            quis, harum quidem atque totam quos cum consectetur rerum, cumque numquam ratione delectus, soluta laborum
            ut magni aspernatur debitis dolor.</p>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div>
        <div class="card-body">
          <i class="fas fa-hand-lizard"></i>
          <h5 class="card-title text-uppercase text-monospace text-white">selfie</h5>
          <p class="card-text text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint asperiores quis,
            harum quidem atque totam quos cum consectetur rerum, cumque numquam ratione delectus, soluta laborum ut
            magni aspernatur debitis dolor.</p>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div>
        <div class="card-body">
          <i class="fas fa-camera-retro"></i>
          <h5 class="card-title text-uppercase text-monospace text-white">aparat</h5>
          <p class="card-text text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint asperiores quis,
            harum quidem atque totam quos cum consectetur rerum, cumque numquam ratione delectus, soluta laborum ut
            magni aspernatur debitis dolor.</p>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div>
        <div class="card-body">
          <i class="fas fa-file"></i>
          <h5 class="card-title text-uppercase text-monospace text-white">projekt</h5>
          <p class="card-text text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint asperiores quis,
            harum quidem atque totam quos cum consectetur rerum, cumque numquam ratione delectus, soluta laborum ut
            magni aspernatur debitis dolor.</p>
        </div>
      </div>
    </div>

  </div>
</section>
