<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container">
    <div class="align-text-bottom">
      <div class="row">
        <div class="col">
          <div class="text-left">
            <div>
              <a href="#">
                <small>HOME</small>
              </a>
              <small class="smallPadding">|</small>
              <a href="#offer">
                <small>OFERTA</small>
              </a>
              <small class="smallPadding">|</small>
              <a href="#portfolio">
                <small>PORTFOLIO</small>
              </a>
              <small class="smallPadding">|</small>
              <a href="#contact">
                <small>KONTAKT</small>
              </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="text-right">
            <small>2019 &copy;</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
