<section>
  <div class="container">
      <app-navbar></app-navbar>
  </div>
</section>

<section>
    <div class="container">
        <app-offer></app-offer>
    </div>
</section>

<section id="portfolio">
    <div class="container">
        <app-portfolio></app-portfolio>
    </div>
</section>

<section id="contact">
    <div class="container">
        <app-contact></app-contact>
    </div>
</section>

<app-footer></app-footer>
