button {
  background-color: #ff4b4c;
  border: none;
  color: white;
  padding: 15px 52px;
  width: 300px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 30px 2px;
  cursor: pointer;
}
form {
  padding-bottom: 30px;
}
input {
  background-color: transparent;
  border: 3px solid #ffffff;
  color: #ffffff;
  padding-left: 10px;
  max-height: 50px;
}
textarea {
  box-sizing: border-box;
  border: 3px solid #ffffff;
  background-color: #515e66;
  color: #ffffff;
  width: 100%;
  height: 150px;
  padding: 6px 10px;
  resize: none;
}
p {
  margin-bottom: 0px;
}
label {
  color: #ffffff;
  margin-top: 10px;
}
#imageDiv {
  padding-top: 40px;
  margin-top: 30px;
  background-color: #515e66;
  padding-left: 20px;
  padding-right: 20px;
}
.inline {
  display: inline-grid
}
