<div id="imageDiv" class="container">

    <form (ngSubmit)="onSubmit()" #contactForm="ngForm">

      <div class="row">
        <div class="col">
          <label for="name" class="text-uppercase">Imię i nazwisko:</label>
        </div>
      </div>

      <div class="row">
        <div class="col inline">
          <input type="text" [(ngModel)]="message.name" #name="ngModel" id="name" name="name" required>
          <div *ngIf="!name.valid && email.dirty" class="text-uppercase text-white"><small>Pole wymagane!</small></div>
        </div>
        <div *ngIf="!isRwd" class="col inline">
          <small class="text-white text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
            molestiae laborum alias aliquam perferendis sapiente nam ab debitis eveniet praesentium.</small>
        </div>
      </div>

      <div style="margin-top: 30px;" class="row">
        <div class="col inline">
          <div class="row">
              <div class="col">
                <label for="email" class="text-uppercase align-bottom">E-mail:</label>
              </div>
          </div>

          <input type="email" [(ngModel)]="message.email" #email="ngModel" id="email" name="email" email required>
          <div *ngIf="!email.valid && email.dirty" class="text-uppercase text-white"><small>Pole wymagane!</small></div>
          <div *ngIf="email.errors && email.dirty && email.errors.email" class="text-uppercase text-white">
            <small>Adres niepoprawny!</small>
          </div>
        </div>
        <div *ngIf="!isRwd" class="col">
          <p style="margin-bottom: 0px;" class="text-white text-uppercase"><small>JAN NOWAK</small></p>
          <p class="text-white text-uppercase"><small>+18 111 222 333</small></p>
          <p class="text-white text-uppercase"><small>JAN@NOWAK.PL</small></p>
          <p class="text-white text-uppercase"><small>WWW.NOWAK.PL</small></p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="message" class="text-uppercase">Wiadomość:</label>
          <textarea rows="4" [(ngModel)]="message.message" #mes="ngModel" cols="50" id="messagae" name="messagae" required
            minlength="5"></textarea>
        </div>
      </div>
      <button type="submit" [disabled]="!contactForm.valid">Wyslij</button>
    </form>

  </div>
